    <!DOCTYPE html>
    <html>
        <head>
            <title>Employee Form</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
            <link rel="stylesheet" type="text/css" href="../styles/style.css" />
            <base href="/home" />
            <meta name="description" content="This is the official website for applying an Employee Position in BankOfAmerica"/>
            <meta name="keywords" content="BankOfAmerica, Employee, Employee form, form, applicant" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta charset="UTF-8" />
        </head>
        <body>
            <article>
                <header>
                    <h1>Welcome to BankOfAmerica!</h1>
                </header>
                    <section>
                    <div class="scoop">
                    
                        <form name="Employee Form">
                            <div>
                                <label for="firstName">Applicant's First Name:</label>
                                <input type="text" id="firstName" name="fName" placeholder="Enter your First Name"/>
                            </div>
                             <br />
                            <div>
                                <label for="lastName">Applicant's Last Name:</label>
                                <input type="text" id="lastName" name="lName" placeholder="Enter your Last Name" />
                            </div>
                            <br />
                            <div>
                                <label for="phoneNumber">Applicant's Phone Number:</label>
                                <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Phone Number" />
                            </div>
                            <br />
                            <div>
                                <label for="Email">Enter Email-Id:</label>
                                <div id="Email"></div>
                                    <span> <input type="text" id="Email" name="Email" Placeholder="Email Id" /></span>
                            </div>
                            <br/> 
                            <div>
                                <label for ="Password">Enter Password</label>
                                <div id="Password">
                                    <input type="Password" id="Password" name="Password" placeholder="Password" />
                            </div>
                            <br/>
                            <div>
                            <label>Gender</label>
                            <br/>
                                <label for="Gender">Male:</label>
              
                                    <input type="radio"  name="gender" value="male">
                            </div>
                            <div>
                                <label for="Gender">Female</label>
                                
                                    <input type="radio"  name="gender" value="female">
                            </div>
                            <div>
                                <label for="checkbox">
                                <div id="checkbox">
                                    <input type="checkbox" id="checkbox">
                            </div>
                            <br/>
                            <button type="submit" id="submit" class="submit1">
                                <span>Submit</span>
                            </button>
                            <button type="reset" id="reset" class="reset1">
                                <span>Cancel</span>
                            </button>
                    
                        </form>
                        </div>


                    </section>
                <footer>
                    I'm at the bottom
                </footer>
            </article>
        </body>
    </html> 
